<meta charset="UTF-8">
<title>Melon Space</title>
<link rel="stylesheet" href="{{ "/static/css/reset.css" | prepend: site.baseurl }}" />
<link rel="stylesheet" href="{{ "/static/css/common.css" | prepend: site.baseurl }}" />
<link rel="stylesheet" href="{{ "/static/css/markdown_github.css" | prepend: site.baseurl }}" />
<link rel="stylesheet" href="{{ "/static/css/manni.css" | prepend: site.baseurl }}" />
<link rel="stylesheet" href="{{ "/static/css/font-awesome.min.css" | prepend: site.baseurl }}" />
{% if(page.css) %}
<link rel="stylesheet" href="{{ page.css | prepend: site.baseurl }}" />
{% endif %}
<!--
<link rel="stylesheet" href="{{ '/static/css/common.css' | prepend:site.baseurl }}" />
-->
